$primary-color: #00008b;
$secondary-color: #000;
$third-color: #0b0b45;

* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}
html,
body,
header,
#intro {
  height: 100vh;
}
body {
  overflow-x: hidden;
  background: #551d6b;
  color: #fff;
}

p {
  font-size: 18px;
}

header {
  position: relative;
  background-color: black;
  width: 100%;
  overflow: hidden;
  video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
  }
  .container {
    position: relative;
  }
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    opacity: 0.25;
    z-index: 1;
  }
}

#intro {
  background: url("../Images/header_bg.png") no-repeat center center;
  background-size: cover;
  position: relative;
}

.navbar {
  box-shadow: none;
  .nav-link{
    &:hover{
      color: #551d6b;
    }
  }
  #button {
    font-size: 14px;
    padding: 10px 35px;
  }
}

.mask {
  .container-introduction {
    h1 {
      color: #fff;
      font-weight: 400;
      font-size: 95px;
      font-family: "Creepster", cursive;
    }
    h2 {
      color: #fff;
      font-weight: 700;
    }
  }
}

@media (max-width: 767px) {
  .mask {
    margin-top: 32px !important;
    .container-introduction {
      left: 10%;
      top: 50%;
      h1{
        font-size: 70px;
      }
    }
  }
  .navbar {
    #button {
      padding: 8px 20px;
    }
  }
}

.top-nav-collapse {
  background-color: $secondary-color;
}
@media (max-width: 768px) {
  .navbar:not(.top-nav-collapse) {
    background-color: $secondary-color;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background-color: $secondary-color;
  }
}

main {
  .community-token {
    .subtitle {
      color: $third-color;
    }
    h1 {
      font-size: 48px;
      font-weight: 800;
    }
    .btn {
      background-color: $third-color;
      color: white;
      &:hover {
        background-color: $secondary-color;
      }
    }
    video {
      width: 100%;
      height: 100%;
    }
  }

  #schematics {
    background-color: $secondary-color;
    height: 60vh;
    .subtitle {
      color: $third-color;
    }
    h1 {
      font-size: 48px;
      font-weight: 800;
      color: white;
    }
    ul {
      color: white;
      list-style: none;
      display: flex;
      justify-content: center;
      flex-direction: column;
      li {
        margin: 10px auto;
        font-size: 18px;
        i {
          color: $primary-color;
        }
      }
    }
  }

  .community-units {
    .subtitle {
      color: $third-color;
    }
    h1 {
      font-size: 48px;
      font-weight: 800;
    }
    ul {
      font-weight: 800;
      li {
        margin: 10px auto;
        font-size: 18px;
      }
    }
    video {
      width: 100%;
      height: 100%;
    }
  }

  #download {
    text-align: center;
    .subtitle {
      color: #eee;
    }
    h1 {
      font-size: 48px;
      font-weight: 800;
      color: white;
    }
    ul {
      display: flex;
      justify-content: center;
      li {
        margin: 10px auto;
        font-size: 18px;
        a {
          color: white;
        }
      }
    }
  }
}

footer {
  background: $secondary-color;
  color: white;
  height: 35vh;
  .row {
    margin-left: 0;
    margin-right: 0;
  }
}
@media (max-width: 768px) {
  #schematics {
    height: auto !important;
  }
  footer {
    height: auto;
  }
}
